<div class="container">
  <%# <p style="color: green"><%= notice %></p>

  <h1>Categories</h1>

  <div id="categories">
    <% @categories.each do |category| %>
      <li>
        <%= image_tag "#{category.icon}" %>          
        <%= link_to category.name, group_path(category.id)  %>
        $<%= category.entities.sum(:amount) %> 
      </li>
    <% end %>
  </div>

  <%= link_to "New category", new_category_path %> %>
</div>
